# Supabase Database Configuration
SUPABASE_URL=https://nglgwbmukbpmyqrazggm.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_6SQuNyEM9zyCB7lcvsYhOw_RZ0kbEv9
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
SUPABASE_JWKS_URL=https://nglgwbmukbpmyqrazggm.supabase.co/auth/v1/.well-known/jwks.json

# Frontend Env
VITE_SUPABASE_URL=https://nglgwbmukbpmyqrazggm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6SQuNyEM9zyCB7lcvsYhOw_RZ0kbEv9
VITE_API_BASE_URL=http://localhost:8000

# Backend AI
GEMINI_API_KEY=
PORT=8000
